awk
basename
cat
chmod
cmp
compress
cut
diff
dirname
echo
egrep
expr
false
find
fgrep
find
gash
grep
gzip
head
ln
ls
mkdir
modules
mv
pwd
reboot
rm
rmdir
sed
sleep
sort
tar
test
touch
tr
true
uname
uniq
wc
which
