[submodule "sources/M2-Planet"]
	path = sources/M2-Planet
	url = https://github.com/oriansj/M2-Planet.git
[submodule "sources/mescc-tools"]
	path = sources/mescc-tools
	url = https://github.com/oriansj/mescc-tools.git
[submodule "sources/mes-m2"]
	path = sources/mes-m2
	url = https://github.com/oriansj/mes-m2.git
[submodule "sources/nyacc"]
	path = sources/nyacc
	url = https://git.savannah.nongnu.org/git/nyacc.git
[submodule "sources/mes"]
	path = sources/mes
	url = git@github.com:fosslinux/mes.git
[submodule "sources/tinycc-mes"]
	path = sources/tinycc-mes
	url = https://github.com/fosslinux/tinycc-mes
